Caspar_Client_Repository.json
[{"id":"7ff870cd.e1f68","type":"tab","label":"Poor Mans Newsroom","disabled":false,"info":""},{"id":"c804f7f7.71acd8","type":"tab","label":"Rundown","disabled":false,"info":""},{"id":"a930b578.315358","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bf419011.bb583","type":"ui_tab","z":"","name":"poor man's newsroom","icon":"track_changes","order":1,"disabled":false,"hidden":false},{"id":"232420a9.9fd56","type":"ui_group","z":"","name":"Group 1","tab":"bf419011.bb583","order":1,"disp":true,"width":"19","collapse":false},{"id":"b4b2ea51.f976b8","type":"ui_group","name":"Group 2","tab":"bf419011.bb583","order":2,"disp":true,"width":6},{"id":"905678e2.a6cc88","type":"ui_table","z":"7ff870cd.e1f68","group":"232420a9.9fd56","name":"","order":0,"width":"17","height":"12","columns":[],"outputs":1,"cts":true,"x":810,"y":300,"wires":[["41d1a1e0.9947a","b7662c49.1a9f"]]},{"id":"c793e004.ad7f4","type":"change","z":"7ff870cd.e1f68","name":"ui_control","rules":[{"t":"set","p":"lastId","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"ui_control","pt":"msg","to":"$format := {\"tabulator\":{\"height\":600,\"columnResized\":\"function(column){     var newColumn = {         field: column._column.field,         visible: column._column.visible,         width: column._column.width,         widthFixed: column._column.widthFixed,         widthStyled: column._column.widthStyled     }; this.send({topic:this.config.topic,ui_control:{callback:'columnResized',columnWidths:newColumn}}); }\",\"columnMoved\":\"function(column, columns){     var newColumns=[];     columns.forEach(function (column) {         newColumns.push({'field': column._column.field});     });     this.send({topic:this.config.topic,ui_control:{callback:'columnMoved',columns:newColumns}}); }\",\"groupHeader\":\"function (value, count, data, group) {return value + \\\"<span style='color:#d00; margin-left:10px;'>(\\\" + count + \\\" Termostat\\\"+((count>1) ? \\\"e\\\" : \\\"\\\") + \\\")</span>\\\";}\",\"rowMoved\":\"function(row){var rowPos = row.getPosition(true); var rowIndex = row.getIndex(); this.send({topic: 'success', ui_control:{callback:'rowMoved', rowPos: rowPos, rowIndex: rowIndex}, return: {command: 'none'}});}\",\"rowFormatter\":\"function(row, e) {if(row.getData().state==true){row.scrollTo();row.getElement().style.backgroundColor = \\\"#FF9999\\\"}else if(row.getData().state==false){if(row.getPosition()%2 == 0){row.getElement().style.backgroundColor = \\\"#d3d3d3\\\"}else{row.getElement().style.backgroundColor = \\\"#ffffff\\\"}}else{var holderEl = document.createElement(\\\"div\\\");var tableEl = document.createElement(\\\"div\\\");const id = row.getData().id;holderEl.style.boxSizing = \\\"border-box\\\";holderEl.style.padding = \\\"0px 0px 30px 40px\\\";holderEl.style.borderTop = \\\"0px solid #333\\\";holderEl.style.borderBotom = \\\"1px solid #333\\\";holderEl.style.background = \\\"#ddd\\\";holderEl.setAttribute('class', \\\"subTable\\\" + id + \\\"\\\");tableEl.style.border = \\\"0px solid #333\\\";tableEl.setAttribute('class', \\\"subTable\\\" + id + \\\"\\\");holderEl.appendChild(tableEl);row.getElement().appendChild(holderEl);var subTable = new Tabulator(tableEl, {\\\"layout\\\": \\\"fitColumns\\\",\\\"data\\\": row.getData().serviceSecondary,\\\"columns\\\": [{\\\"field\\\": \\\"subtype\\\",\\\"width\\\": 100, \\\"headerSort\\\": false}, {\\\"field\\\": \\\"f0\\\", \\\"headerSort\\\": false, \\\"width\\\": 250}, {\\\"field\\\": \\\"f1\\\", \\\"headerSort\\\": false, \\\"width\\\": 250}, {\\\"title\\\": \\\"Delay\\\",\\\"field\\\": \\\"delay\\\", \\\"headerSort\\\": false, \\\"width\\\": 100},{\\\"title\\\": \\\"Länge\\\",\\\"field\\\": \\\"duration\\\", \\\"headerSort\\\": false, \\\"width\\\": 100}]})}}\",\"scrollToRowIfVisible\":true,\"scrollToRowPosition\":\"top\",\"movableRows\":true,\"layout\":\"fitColumns\",\"movableColumns\":true,\"groupBy\":\"\",\"data\":\"nestedData\",\"selectable\":false,\"columns\":[{\"rowHandle\":true,\"formatter\":\"handle\",\"headerSort\":false,\"frozen\":true,\"width\":30,\"minWidth\":30},{\"formatter\":\"hideIcon\",\"align\":\"center\",\"headerSort\":false,\"width\":30,\"cellClick\":\"function(e, row, formatterParams) {const id = row.getData().id;$(\\\".subTable\\\" + id + \\\"\\\").toggle();}\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"ID\",\"field\":\"id\",\"headerSort\":false,\"width\":30,\"frozen\":true},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Type\",\"field\":\"type\",\"headerSort\":false,\"width\":100,\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Titel\",\"field\":\"title\",\"headerSort\":false,\"width\":250,\"align\":\"center\",\"editor\":\"input\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Länge\",\"field\":\"duration\",\"headerSort\":false,\"width\":100,\"align\":\"center\",\"editor\":\"input\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Notizen\",\"field\":\"notes\",\"headerSort\":false,\"align\":\"center\",\"editor\":\"input\"}]},\"customHeight\":600}","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"{\t    \"command\":\"clearData\",\t    \"arguments\": [],\t    \"returnPromise\": true\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":300,"wires":[["905678e2.a6cc88","41d1a1e0.9947a"]],"icon":"node-red/cog.svg"},{"id":"69af9a7d.6aa2f4","type":"inject","z":"7ff870cd.e1f68","name":"","topic":"","payload":"-1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":300,"wires":[["c793e004.ad7f4"]]},{"id":"41d1a1e0.9947a","type":"function","z":"7ff870cd.e1f68","name":"table recorder","func":"var status = {fill:\"red\",shape:\"ring\",text:\"an error occured\"};\nvar success = (msg.topic && msg.topic===\"success\") || false;\nvar tableData = flow.get(\"tableData\");\nif (tableData === undefined) {\n    tableData = [];\n    flow.set(\"tableData\",tableData);\n}\n\nfunction rowMove(rid, rto) {\n  let array = tableData;\n  let to = array.length -1 - rto;\n  let from = to;\n  for(var s=0; s<array.length; s++){\n      if(array[s].id==rid){\n          from = s;\n          break;\n      }\n  }\n  if( to === from ) return;\n\n  var target = array[from];                         \n  var increment = to < from ? -1 : 1;\n\n  for(var k = from; k != to; k += increment){\n    array[k] = array[k + increment];\n  }\n  array[to] = target;\n  return array;\n}\n\n// find the index for a row in tableData for a given index (id)\nfunction checkIndex(id) {\n    let matchRow=-1\n    tableData.forEach(function (row,index){\n        if (row.id === id){\n            matchRow=index;\n            return matchRow;\n        }\n    })\n    return matchRow;\n}\n\n// flat merge one row \nfunction mergeRow(dest,source) {\n    Object.keys(source).forEach(function(key) {\n        dest[key]=source[key];\n    })\n}\n\n//merge or add one or many rows into tableData \nfunction mergeData(newData,toTop) {\n    rows=[];\n    newData.forEach(function (item,index) {\n        //node.warn([\"findIndex\",item]);\n        let row=checkIndex(item.id);\n        rows.push(tableData.length-1-row);\n        if (row<0) { // row do not existst in tableData\n            if (toTop) {\n                tableData.push(item);\n                status.text+=\"newRow @ top\";\n            } else {\n                tableData.unshift(item);\n                status.text+=\"newRow @ bottom\";\n            }\n            return;\n        } else { // row exists so update\n            mergeRow(tableData[row],item);\n            status.text+=\"row updated\";\n            return;\n        }\n        if (status.text!==\"\") node.status(status);\n    });\n    return rows;\n}\n\nswitch (typeof msg.payload){\n    case \"string\":\n        //node.warn([\"[table recorder] \",(typeof msg.payload),msg.payload]);\n        switch (msg.payload){\n            case \"change\":\n                node.warn(msg.row);\n                status={fill:\"green\",shape:\"dot\",text:\"table restored \"+tableData.length+\" rows\"};\n                //msg.payload=tableData.slice().reverse();\n                break;\n        }\n        break;\n    case \"object\":\n        //node.warn([\"[table recorder] \",(typeof msg.payload),msg.payload]);\n        if (Array.isArray(msg.payload)) { // replace all tableData\n            status={fill:\"green\",shape:\"dot\",text:\"table replaced \"+msg.payload.length+\" rows\"};\n            tableData=RED.util.cloneMessage(msg.payload); \n        } else {\n            switch (msg.payload.command) { // clearData does not return a promise!\n                case \"clearData\":\n                    status={fill:\"green\",shape:\"dot\",text:\"clearData: done\"};\n                    tableData=[];\n                    flow.set(\"lastId\",0);\n                    break;                \n            }\n        }\n        break;\n    default: // likely a msg fom a ui-table command or callback\n        if (msg.hasOwnProperty(\"topic\")&&\n            msg.hasOwnProperty(\"ui_control\") && \n            msg.ui_control.hasOwnProperty(\"callback\") &&\n            msg.hasOwnProperty(\"return\")) { // message originates from a ui-table callback\n            if (success) {\n                switch(msg.return.command) {\n                    case \"addRow\":\n                        status.text=\"addRow: \";\n                        let rows = mergeData(msg.return.arguments[0],msg.return.arguments[1]);\n                        msg.pos = rows;\n                        status.shape=\"dot\";\n                        break;\n                    case \"updateOrAddData\":\n                        status.text=\"updateOrAddData: \";\n                        mergeData(msg.return.arguments[0]);\n                        break;\n                    case \"updateData\":\n                        status.text=\"updateData: \";\n                        //mergeData(msg.return.arguments[0]);\n                        break;\n                    case \"deleteRow\":\n                        //node.warn('deleteRow')\n                        let row=checkIndex(msg.return.arguments[0]);\n                        msg.pos = tableData.length-row;\n                        tableData.splice(row,1);\n                        status.shape=\"dot\";\n                        status.text=\"deleteRow: \"+row+\" deleted\";\n                        break;\n                    case \"none\":\n                        if(msg.ui_control.callback == 'rowMoved'){\n                           node.warn(msg.ui_control.rowPos+', '+msg.ui_control.rowIndex); \n                           rowMove(msg.ui_control.rowIndex, msg.ui_control.rowPos);\n                        }\n                        break;\n                    default:\n                        status={fill:\"yellow\",shape:\"dot\",text:msg.return.command + \" unknown!\"};\n                        break;         \n                }\n            } else {\n                status.text=msg.topic+\" \"+msg.error;\n            }\n        }\n        break;\n}\nif (success) status.fill=\"green\";\nflow.set(\"tableData\",tableData);\nnode.status(status);\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":660,"wires":[["2f29d6c3.0a57da","3102c10c.d7255e","1f8915cf.c2c41a","905678e2.a6cc88"]],"icon":"font-awesome/fa-database","info":"# simple ui-table handler\n## abstract\nUsing ui-table with commands offer the hole flexibilty of tabulator. The table can be manipulated down to cell level.\nAs the ui-table node only passes the commands to tabulator and receives promises back the node does not hold the table data. If the data should be available after refresh, tab change, new connections the flow is responsible to cache the data and all the manipulations.\nThis node takes care of most simple data manipulation commands and holds a copy of the data in `flow.context.tabledata`\n\n## details\n\n### row index (id)\n\nTo identify a [row a index](http://tabulator.info/docs/4.5/data#overview) column has to be defined. This colum defaults to `id` but can be changed by specifing a **field** by using `msg.ui_control`. In this example the row index is a simple counter adding up by one if a new line is added.\n\n### addRow command\n\n[details @ tabulator addRow docs](http://tabulator.info/docs/4.5/update#alter-add)\n\nYou can add a row by sending the `addRow` command. You can decide if the row adds on the top or at the bottom of table.\n\n### addOrUpdate command\n\n[details @ tabulator addOrUpdate docs](http://tabulator.info/docs/4.5/update#alter-update)\n\nTo update data the best way is to use the `addOrUpdate` command. If the row indetified by the index is not exeisting a new row will be added automatically\n\n### deleteRow command\n\n[details @ tabulator deleteRow docs](http://tabulator.info/docs/4.5/update#row)\n\nDelete one or more rows (passing an array always results in \"row not found error\"! I think there is an issue in tabulator)\n\n### clearData\n\n[details @ tabulator clearData docs](http://tabulator.info/docs/4.5/update#alter-empty)\n\nunfortunately this command (currently) do not send a promise back! So we have to pass it directly to the table handler"},{"id":"8b7f5d46.77663","type":"inject","z":"7ff870cd.e1f68","name":"add @ end","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":440,"wires":[["5504f73f.ffd8a8"]]},{"id":"5504f73f.ffd8a8","type":"function","z":"7ff870cd.e1f68","name":"addRow @ end","func":"var id=flow.get(\"lastId\") || 0;\nvar storyNr = id/2+1;\n++id;\nmsg.payload={\n    command:\"addRow\",\n    arguments: [\n        [\n            {\n                \"id\": id,\n                \"type\": \"MOD\",\n                \"title\": \"Beitrag Nr.\"+storyNr,\n                \"duration\": \"0:30\",\n                \"serviceSecondary\": [\n                    {\n                        \"subtype\": \"CAM\",\n                        \"f0\": \"1\",\n                        \"f1\": \"A\"\n                    },\n                    {\n                        \"subtype\": \"SCREEN\",\n                        \"f0\": \"AMB\",\n                        \"f1\": \"Loop\"\n                    }\n                ]\n            },\n            {\n                \"id\": ++id,\n                \"type\": \"MAZ\",\n                \"title\": \"Beitrag Nr.\"+storyNr,\n                \"duration\": \"0:17\",\n                \"serviceSecondary\": [\n                    {\n                        \"subtype\": \"CLIP\",\n                        \"f0\": \"go1080p25\",\n                        \"duration\": \"0:17\",\n                    },\n                    {\n                        \"subtype\": \"INSERT\",\n                        \"f0\": \"Max Mustermann\",\n                        \"f1\": \"schleicht sich von hinten an\",\n                        \"delay\": \"0:06\"\n                    }\n                ]\n            }\n\n        ],\n        false\n    ],\n    returnPromise: true\n}\nflow.set(\"lastId\",id);\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":420,"wires":[["905678e2.a6cc88"]],"icon":"font-awesome/fa-plus","info":"# addRow([row],onTop)\n\n`onTop=false`\n\nadds a new Row on top of the table"},{"id":"3779d3d2.ccb32c","type":"ui_button","z":"7ff870cd.e1f68","name":"","group":"b4b2ea51.f976b8","order":3,"width":0,"height":0,"passthru":false,"label":"Beitrag Neu","tooltip":"add a new row at the end ","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":190,"y":400,"wires":[["5504f73f.ffd8a8"]]},{"id":"58a5e076.59457","type":"function","z":"7ff870cd.e1f68","name":"clearData","func":"\nmsg.payload={\n    command:\"clearData\",\n    arguments: [],\n    returnPromise: true\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":540,"wires":[["905678e2.a6cc88","41d1a1e0.9947a"]],"icon":"font-awesome/fa-eraser","info":"# clear data\n\nunfortunately this command (currently) do not send a promise back! So we have to pass it directly to the table handler"},{"id":"20b84c9f.a7d934","type":"inject","z":"7ff870cd.e1f68","name":"clear","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":560,"wires":[["58a5e076.59457"]]},{"id":"c1ac9f73.a0729","type":"ui_button","z":"7ff870cd.e1f68","name":"","group":"b4b2ea51.f976b8","order":7,"width":0,"height":0,"passthru":false,"label":"clear","tooltip":"clear all table data","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":210,"y":520,"wires":[["58a5e076.59457"]]},{"id":"e03f6202.77434","type":"function","z":"7ff870cd.e1f68","name":"deleteRow","func":"var table = flow.get('tableData');\nif (table.length < 4) {\n    node.error(\"use only if minimum of 4 Lines existing!\");\n    return\n}\npos = Math.floor(table.length/2);\nvar title = table[pos].title;\nfor(i=0; i<table.length; i++){\n    if(table[i].title === title){\n        node.send({payload:{\n                    command:\"deleteRow\",\n                    arguments: [table[i].id],\n                    returnPromise: true\n                }\n            });\n    }\n}\nreturn;\n\n","outputs":1,"noerr":0,"x":450,"y":660,"wires":[["905678e2.a6cc88"]],"icon":"font-awesome/fa-minus","info":"# deleteRow(row / [rows])\n\n`row=singleId`\n\nor\n\n`row=[array of IDs]` // seems there is a bug/issue in tabulator\n\ndelete a single the row with an id in the middle from 1 to lastId, hope it exists.\n\nWill fail on the second hit if you inject this two times because the id wad deleteted on the first"},{"id":"bddd2f38.dfa84","type":"inject","z":"7ff870cd.e1f68","name":"delete","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":680,"wires":[["e03f6202.77434"]]},{"id":"3b717ccd.eaccd4","type":"ui_button","z":"7ff870cd.e1f68","name":"","group":"b4b2ea51.f976b8","order":6,"width":0,"height":0,"passthru":false,"label":"Beitrag Löschen","tooltip":"löscht die mittlere Zeile ","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":180,"y":640,"wires":[["e03f6202.77434"]]},{"id":"79c209ff.627098","type":"function","z":"7ff870cd.e1f68","name":"serialize stories","func":"let table = flow.get('tableData');\nfor (i=table.length-1; i>=0; --i){\n    let pos = table.length-1-i;\n    node.send({\n        topic:\"table data\",\n        payload:table[i],\n        pos:pos,\n        length:table.length\n    });\n}\nreturn;","outputs":1,"noerr":0,"x":800,"y":780,"wires":[["922d53e8.30095"]]},{"id":"5e54ce3a.70dfc","type":"function","z":"c804f7f7.71acd8","name":"set GROUP","func":"let label = msg.payload.type + ' ' + msg.payload.title;\nlet duration = msg.payload.duration;\nlet storyid = 'pmNR-'+msg.payload.id;\nlet payload2 = msg.payload.serviceSecondary;\nlet payload1 = {\n    \"type\":[\"GROUP\"],\n    \"label\":[label],\n    \"expanded\":[\"true\"],\n    \"channel\":[\"1\"],\n    \"videolayer\":[\"10\"],\n    \"delay\":[\"0\"],\n    \"duration\":[\"30000\"],\n    \"allowgpi\":[\"false\"],\n    \"allowremotetriggering\":[\"false\"],\n    \"remotetriggerid\":[storyid],\n    \"storyid\":[storyid],\n    \"notes\":[\"\"],\n    \"autostep\":[\"true\"],\n    \"autoplay\":[\"true\"],\n    \"color\":[\"Transparent\"],\n    \"items\":[]\n}\nnode.send({\n    payload:payload1,\n    pos:msg.pos,\n    id:msg.payload.id\n});\nnode.send({\n    payload:payload2,\n    pos:msg.pos,\n    id:msg.payload.id\n});\nreturn;","outputs":1,"noerr":0,"x":350,"y":1000,"wires":[["1ec68bad.c6d204"]]},{"id":"3b55083a.4c6338","type":"debug","z":"c804f7f7.71acd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":160,"wires":[]},{"id":"5a99707f.d6707","type":"link in","z":"c804f7f7.71acd8","name":"","links":["922d53e8.30095"],"x":215,"y":1000,"wires":[["5e54ce3a.70dfc"]]},{"id":"922d53e8.30095","type":"link out","z":"7ff870cd.e1f68","name":"","links":["5a99707f.d6707"],"x":1255,"y":780,"wires":[]},{"id":"1ec68bad.c6d204","type":"switch","z":"c804f7f7.71acd8","name":"switch GROUP / ITEMS","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"type","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":1000,"wires":[["f7149c75.5a712"],["8c0f1602.3d0158"]]},{"id":"8c0f1602.3d0158","type":"function","z":"c804f7f7.71acd8","name":"serialize ITEMS","func":"let subtypes = msg.payload;\nlet newMsg = [];\nfor(i=0; i<subtypes.length; i++){\n    if(subtypes[i].subtype !=='CLIP'){\n        newMsg.push({id:msg.id, payload:subtypes[i], parts:{id:msg.id,type:\"array\",len:1}});\n    }else{\n        newMsg.push({id:msg.id, payload:subtypes[i], parts:{id:msg.id,type:\"array\",len:1}});\n        let stype = Object.assign({}, subtypes[i]);\n        stype.subtype = 'CLIP_TRICASTER';\n        newMsg.push({id:msg.id, payload:stype, parts:{id:msg.id,type:\"array\",len:1}});\n    }\n}\nnewMsg.push({id:msg.id, payload:{subtype:'STATE'}, parts:{id:msg.id,type:\"array\",len:1}});\n\nfor(s=0; s<newMsg.length; s++){\n    newMsg[s].parts['index']=s;\n    newMsg[s].parts['count']=newMsg.length;\n}\n\nreturn [newMsg];\n","outputs":1,"noerr":0,"x":340,"y":1180,"wires":[["e607c8e9.b63038"]]},{"id":"e607c8e9.b63038","type":"switch","z":"c804f7f7.71acd8","name":"switch TYPES","property":"payload.subtype","propertyType":"msg","rules":[{"t":"eq","v":"SCREEN","vt":"str"},{"t":"eq","v":"CLIP","vt":"str"},{"t":"eq","v":"CLIP_TRICASTER","vt":"str"},{"t":"eq","v":"CAM","vt":"str"},{"t":"eq","v":"INSERT","vt":"str"},{"t":"eq","v":"STATE","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":540,"y":1180,"wires":[["b2901fe6.76f8d"],["b2901fe6.76f8d"],["a783339b.702d6"],["a783339b.702d6"],["9e938f17.62c"],["33617043.73518"]]},{"id":"a783339b.702d6","type":"function","z":"c804f7f7.71acd8","name":"set TRICASTER INPUT","func":"let input = '';\nlet label = '';\nswitch (msg.payload.subtype) {      \n    case 'CAM':\n        input = \"input\"+msg.payload.f0;\n        label = \"KAM \"+msg.payload.f0;\n        break;\n    case 'CLIP_TRICASTER':                         \n        input = \"input7\";\n        label = \"INPUT MAZ\"\n        break;\n    default:                        \n} \n\n\nmsg.payload = {\n    \"type\":[\"TRICASTERINPUT\"],\n    \"devicename\":[\"Vectar\"],\n    \"label\":[label],\n    \"name\":[\"\"],\n    \"channel\":[\"1\"],\n    \"videolayer\":[\"10\"],\n    \"delay\":[\"0\"],\n    \"duration\":[\"0\"],\n    \"allowgpi\":[\"false\"],\n    \"allowremotetriggering\":[\"false\"],\n    \"remotetriggerid\":[\"\"],\n    \"storyid\":[\"\"],\n    \"switcher\":[\"pgm\"],\n    \"input\":[input],\n    \"triggeronnext\":[\"false\"],\n    \"color\":[\"Transparent\"]\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1180,"wires":[["872def56.d5a51"]]},{"id":"b2901fe6.76f8d","type":"function","z":"c804f7f7.71acd8","name":"set MOVIE","func":"let label = msg.payload.f0;\nlet duration = \"\";\nlet timecode = \"\";\nlet loop = \"false\";\nif(msg.payload.duration){\n    duration = Number(msg.payload.duration.split(':')[0]) * 60 * 1000 + Number(msg.payload.duration.split(':')[1]) * 1000;\n    timecode = msg.payload.duration;\n}\nif(msg.payload.f1 == \"Loop\"){\n    loop = \"true\";\n}\nmsg.payload = {\n    \"type\":[\"MOVIE\"],\n    \"devicename\":[\"Local CasparCG\"],\n    \"label\":[label],\n    \"name\":[label],\n    \"channel\":[\"1\"],\n    \"videolayer\":[\"10\"],\n    \"delay\":[\"0\"],\n    \"duration\":[duration],\n    \"allowgpi\":[\"false\"],\n    \"allowremotetriggering\":[\"false\"],\n    \"remotetriggerid\":[\"\"],\n    \"storyid\":[\"\"],\n    \"transition\":[\"CUT\"],\n    \"transitionDuration\":[\"0\"],\n    \"tween\":[\"Linear\"],\n    \"direction\":[\"RIGHT\"],\n    \"seek\":[\"0\"],\n    \"length\":[\"0\"],\n    \"loop\":[loop],\n    \"freezeonload\":[\"false\"],\n    \"triggeronnext\":[\"false\"],\n    \"autoplay\":[\"true\"],\n    \"color\":[\"Transparent\"],\n    \"timecode\":[timecode]\n};\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1120,"wires":[["872def56.d5a51"]]},{"id":"9e938f17.62c","type":"function","z":"c804f7f7.71acd8","name":"set CG TEMPLATE","func":"\n\nlet f0 = msg.payload.f0;\nlet f1 = msg.payload.f1;\nlet delay = Number(msg.payload.delay.split(':')[0]) * 60 * 1000 + Number(msg.payload.delay.split(':')[1]) * 1000;\n\nmsg.payload = {\n    \"type\":[\"TEMPLATE\"],\n    \"devicename\":[\"Local CasparCG\"],\n    \"label\":[\"SIMPLETEMPLATE2\"],\n    \"name\":[\"CasparCG_Flash_Templates_Example_Pack_1/SIMPLETEMPLATE2\"],\n    \"channel\":[\"1\"],\n    \"videolayer\":[\"20\"],\n    \"delay\":[delay],\n    \"duration\":[\"0\"],\n    \"allowgpi\":[\"false\"],\n    \"allowremotetriggering\":[\"false\"],\n    \"remotetriggerid\":[\"\"],\n    \"storyid\":[\"\"],\n    \"flashlayer\":[\"1\"],\n    \"invoke\":[\"\"],\n    \"usestoreddata\":[\"false\"],\n    \"useuppercasedata\":[\"false\"],\n    \"triggeronnext\":[\"false\"],\n    \"sendasjson\":[\"false\"],\n    \"templatedata\":[\n        {\n            \"componentdata\":[\n                {\n                    \"id\":[\"f0\"],\n                    \"value\":[f0]\n                },\n                {\n                    \"id\":[\"f1\"],\n                    \"value\":[f1]\n                }\n            ]   \n        }\n    ],\n    \"color\":[\"Transparent\"]\n};\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1240,"wires":[["872def56.d5a51"]]},{"id":"872def56.d5a51","type":"join","z":"c804f7f7.71acd8","name":"join ITEMS","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"$merge([$, {\"item\":$A} ])","reduceInit":"","reduceInitType":"num","reduceFixup":"$A","x":1070,"y":1180,"wires":[["60d26275.6fd97c"]]},{"id":"6012bef3.f991d","type":"join","z":"c804f7f7.71acd8","name":"join GROUP / ITEMS","mode":"reduce","build":"merged","property":"payload","propertyType":"msg","key":"payload.items","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"$merge([$, {\"item\":$A} ])","reduceInit":"","reduceInitType":"num","reduceFixup":"$A","x":1300,"y":1040,"wires":[["adae8695.759ad8"]]},{"id":"adae8695.759ad8","type":"change","z":"c804f7f7.71acd8","name":"GROUP Format","rules":[{"t":"set","p":"payload.item.payload.items","pt":"msg","to":"[{'item':payload.payload}]\t","tot":"jsonata"},{"t":"set","p":"pos","pt":"msg","to":"payload.item.pos","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.item.payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":980,"wires":[["5248063.33653f8"]]},{"id":"f7149c75.5a712","type":"change","z":"c804f7f7.71acd8","name":"set parts parameters","rules":[{"t":"set","p":"parts.id","pt":"msg","to":"id","tot":"msg"},{"t":"set","p":"parts.type","pt":"msg","to":"object","tot":"str"},{"t":"set","p":"parts.key","pt":"msg","to":"items","tot":"str"},{"t":"set","p":"parts.index","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"parts.count","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":1040,"wires":[["6012bef3.f991d"]]},{"id":"60d26275.6fd97c","type":"change","z":"c804f7f7.71acd8","name":"set parts parameters","rules":[{"t":"set","p":"parts.id","pt":"msg","to":"id","tot":"msg"},{"t":"set","p":"parts.type","pt":"msg","to":"object","tot":"str"},{"t":"set","p":"parts.key","pt":"msg","to":"items","tot":"str"},{"t":"set","p":"parts.index","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"parts.count","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":1180,"wires":[["6012bef3.f991d"]]},{"id":"991cd01e.1baef","type":"inject","z":"c804f7f7.71acd8","name":"Inject ENDE","topic":"","payload":"<?xml version=\"1.0\" encoding=\"UTF-8\"?><items><allowremotetriggering>true</allowremotetriggering><item><type>GROUP</type><label>ENDE</label><expanded>false</expanded><channel>1</channel><videolayer>10</videolayer><delay>0</delay><duration>1</duration><allowgpi>false</allowgpi><allowremotetriggering>false</allowremotetriggering><remotetriggerid></remotetriggerid><storyid>pmNR-separator</storyid><notes></notes><autostep>false</autostep><autoplay>false</autoplay><color>rgba(128, 0, 0, 192)</color><items><item><type>OSCOUTPUT</type><devicename></devicename><label>CALLBACK state</label><name></name><channel>1</channel><videolayer>10</videolayer><delay>0</delay><duration>0</duration><allowgpi>false</allowgpi><allowremotetriggering>false</allowremotetriggering><remotetriggerid></remotetriggerid><storyid></storyid><output>Repository Control</output><path>/poor-mans-newsroom/state</path><message>-1</message><osctype>Integer</osctype><triggeronnext>false</triggeronnext><usebundle>false</usebundle><color>Transparent</color></item></items></item></items>","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":40,"wires":[["ba500b76.07e7a8"]]},{"id":"ad240eaa.285bf","type":"change","z":"c804f7f7.71acd8","name":"set flow variables","rules":[{"t":"set","p":"rundown","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"sessions","pt":"flow","to":"{}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":40,"wires":[["bde29206.c9852"]]},{"id":"5248063.33653f8","type":"function","z":"c804f7f7.71acd8","name":"add GROUP to RUNDOWN","func":"let rundown = flow.get('rundown');\nlet eraser = 0;\nif ((rundown.items.item.length-2) >= msg.pos){\n    eraser = 1;\n}\nrundown.items.item.splice(msg.pos, eraser, msg.payload);\n\nreturn msg","outputs":1,"noerr":0,"x":1280,"y":920,"wires":[["e8ee7917.442908"]]},{"id":"e21ffc94.5c2cb","type":"http in","z":"c804f7f7.71acd8","name":"","url":"/rundowns","method":"get","upload":false,"swaggerDoc":"","x":120,"y":120,"wires":[["2c5a9a37.ad4316"]]},{"id":"6811a6d5.07ac88","type":"change","z":"c804f7f7.71acd8","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"text/plain","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":120,"wires":[["5f27e9b6.de06c8","bde29206.c9852"]]},{"id":"5f27e9b6.de06c8","type":"http response","z":"c804f7f7.71acd8","name":"","x":850,"y":120,"wires":[]},{"id":"2c5a9a37.ad4316","type":"template","z":"c804f7f7.71acd8","name":"link list of rundowns","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"http://localhost:1880/poor-mans-newsroom\n","output":"str","x":450,"y":120,"wires":[["6811a6d5.07ac88"]]},{"id":"a0c58da7.d0c99","type":"http in","z":"c804f7f7.71acd8","name":"","url":"/poor-mans-newsroom","method":"get","upload":false,"swaggerDoc":"","x":160,"y":200,"wires":[["675e7613.92d1a8"]]},{"id":"cee6d485.242408","type":"inject","z":"7ff870cd.e1f68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":780,"wires":[["79c209ff.627098"]]},{"id":"675e7613.92d1a8","type":"change","z":"c804f7f7.71acd8","name":"rundown","rules":[{"t":"set","p":"req","pt":"msg","to":"req","tot":"msg"},{"t":"set","p":"res","pt":"msg","to":"res","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"rundown","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":200,"wires":[["f99ac0d6.3cf7d","3b55083a.4c6338"]]},{"id":"252e311a.08605e","type":"http response","z":"c804f7f7.71acd8","name":"","x":1110,"y":200,"wires":[]},{"id":"b7aff1ec.077fb","type":"change","z":"c804f7f7.71acd8","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/xml","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":200,"wires":[["252e311a.08605e"]]},{"id":"f99ac0d6.3cf7d","type":"xml","z":"c804f7f7.71acd8","name":"","property":"payload","attr":"","chr":"","x":630,"y":200,"wires":[["b7aff1ec.077fb","3b55083a.4c6338"]]},{"id":"2f29d6c3.0a57da","type":"switch","z":"7ff870cd.e1f68","name":"switch del/add/move","property":"ui_control.callback","propertyType":"msg","rules":[{"t":"eq","v":"deleteRow","vt":"str"},{"t":"eq","v":"addRow","vt":"str"},{"t":"eq","v":"rowMoved","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1080,"y":640,"wires":[["1fbedf92.fb86c"],["76c9d9a9.4439d8"],["46b35cf9.dfeca4"]]},{"id":"1fbedf92.fb86c","type":"link out","z":"7ff870cd.e1f68","name":"","links":["c8b56ff0.7c486"],"x":1255,"y":600,"wires":[]},{"id":"c8b56ff0.7c486","type":"link in","z":"c804f7f7.71acd8","name":"","links":["1fbedf92.fb86c"],"x":215,"y":680,"wires":[["6d11df74.c6f76"]]},{"id":"6d11df74.c6f76","type":"change","z":"c804f7f7.71acd8","name":"del command","rules":[{"t":"set","p":"topic","pt":"msg","to":"command","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"ui_control.callback","tot":"msg"},{"t":"set","p":"id","pt":"msg","to":"return.arguments[0]","tot":"msg"},{"t":"set","p":"pos","pt":"msg","to":"pos","tot":"msg"},{"t":"delete","p":"ui_control","pt":"msg"},{"t":"delete","p":"return","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":680,"wires":[["fa24f0bf.0600f"]]},{"id":"fa24f0bf.0600f","type":"function","z":"c804f7f7.71acd8","name":"del GROUP from RUNDOWN","func":"let rundown = flow.get('rundown');\nlet eraser = 0;\nif ((rundown.items.item.length-2) >= msg.pos){\n    eraser = 1;\n}\nrundown.items.item.splice(msg.pos, eraser);\n\nreturn msg","outputs":1,"noerr":0,"x":710,"y":680,"wires":[["9396c840.518a48"]]},{"id":"635177e9.64d588","type":"tcp in","z":"c804f7f7.71acd8","name":"","server":"server","host":"","port":"8250","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":320,"y":500,"wires":[["18f05903.f23587"]]},{"id":"18f05903.f23587","type":"template","z":"c804f7f7.71acd8","name":"to String","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"str","x":660,"y":500,"wires":[["63615632.1d28b8"]]},{"id":"63615632.1d28b8","type":"function","z":"c804f7f7.71acd8","name":"save session","func":"\nvar sessions = flow.get('sessions');\nvar rundown = msg.payload.split(' ')[1];\nsessions[rundown] = msg._session;\n//msg.payload = \"CONNECTIONSTATE\\r\\n\\r\\n\";\n//return msg;\n\nreturn","outputs":1,"noerr":0,"x":930,"y":500,"wires":[["cdbf776c.8ecb98"]]},{"id":"cdbf776c.8ecb98","type":"tcp out","z":"c804f7f7.71acd8","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"","x":1510,"y":500,"wires":[]},{"id":"a8f4580c.ab67b8","type":"change","z":"c804f7f7.71acd8","name":"get session","rules":[{"t":"set","p":"_session","pt":"msg","to":"$lookup($flowContext(\"sessions\"),$eval(\"topic\"))\t","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"},{"t":"delete","p":"id","pt":"msg"},{"t":"delete","p":"pos","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":580,"wires":[["24904684.92268a"]]},{"id":"24904684.92268a","type":"switch","z":"c804f7f7.71acd8","name":"session exists?","property":"_session","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1260,"y":580,"wires":[["cdbf776c.8ecb98"]]},{"id":"9396c840.518a48","type":"function","z":"c804f7f7.71acd8","name":"CCG Delete Command","func":"let storyid = 'pmNR-'+msg.id;\nvar message = \"REMOVE\\r\\n\";\nmessage = message + storyid + \"\\r\\n\\r\\n\";\nmsg.payload = message;\nmsg.topic = \"poor-mans-newsroom\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":580,"wires":[["a8f4580c.ab67b8"]]},{"id":"3102c10c.d7255e","type":"debug","z":"7ff870cd.e1f68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1170,"y":320,"wires":[]},{"id":"76c9d9a9.4439d8","type":"link out","z":"7ff870cd.e1f68","name":"","links":["5e78285.538c2d8"],"x":1255,"y":640,"wires":[]},{"id":"5e78285.538c2d8","type":"link in","z":"c804f7f7.71acd8","name":"","links":["76c9d9a9.4439d8"],"x":215,"y":820,"wires":[["51988446.1c356c"]]},{"id":"51988446.1c356c","type":"change","z":"c804f7f7.71acd8","name":"add command","rules":[{"t":"set","p":"topic","pt":"msg","to":"command","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"ui_control.callback","tot":"msg"},{"t":"set","p":"rows","pt":"msg","to":"return.arguments[0]","tot":"msg"},{"t":"set","p":"pos","pt":"msg","to":"pos","tot":"msg"},{"t":"delete","p":"ui_control","pt":"msg"},{"t":"delete","p":"return","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":820,"wires":[["ae5799f4.a31298"]]},{"id":"ae5799f4.a31298","type":"function","z":"c804f7f7.71acd8","name":"serialize groups","func":"let groups = msg.rows;\nfor (i=0; i<groups.length; i++){\n    node.send({\n        topic:msg.payload,\n        payload:groups[i],\n        pos:msg.pos[i]\n    });\n}\nreturn;","outputs":1,"noerr":0,"x":580,"y":820,"wires":[["5e54ce3a.70dfc"]]},{"id":"da0dde5.d1de52","type":"link out","z":"7ff870cd.e1f68","name":"","links":["c7bf3ec8.c897"],"x":1255,"y":720,"wires":[]},{"id":"c7bf3ec8.c897","type":"link in","z":"c804f7f7.71acd8","name":"","links":["da0dde5.d1de52"],"x":215,"y":580,"wires":[["3f4771eb.72a87e"]]},{"id":"3f4771eb.72a87e","type":"function","z":"c804f7f7.71acd8","name":"all rows del command","func":"let rundown = flow.get('rundown');\nfor(i=0; i<rundown.items.item.length-1; i++){\n    let id = rundown.items.item[i].storyid[0].slice(5);\n    node.send({topic:'command', payload:'deleteRow', id:id, pos:0});\n}\nreturn;","outputs":1,"noerr":0,"x":360,"y":580,"wires":[["fa24f0bf.0600f"]]},{"id":"1f8915cf.c2c41a","type":"switch","z":"7ff870cd.e1f68","name":"switch clear","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"clearData","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":720,"wires":[["da0dde5.d1de52"]]},{"id":"7cf1d6b9.025418","type":"change","z":"c804f7f7.71acd8","name":"get session","rules":[{"t":"set","p":"_session","pt":"msg","to":"$lookup($flowContext(\"sessions\"),$eval(\"topic\"))\t","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"startmsg&payload&endmsg","tot":"jsonata"},{"t":"delete","p":"pos","pt":"msg"},{"t":"delete","p":"startmsg","pt":"msg"},{"t":"delete","p":"endmsg","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":720,"wires":[["24904684.92268a"]]},{"id":"e8ee7917.442908","type":"function","z":"c804f7f7.71acd8","name":"CCG Add Command","func":"let rundown = flow.get('rundown');\nlet storyid = \"pmNR-start\";\nif(msg.pos>0){\n   storyid = rundown.items.item[msg.pos-1].storyid; \n}\nlet message = \"ADD\\r\\n\";\nmessage = message + storyid + \"\\r\\n\";\nmsg.payload = \n{\n    \"items\":\n    {\n        \"item\":[msg.payload]\n    }\n};\nmsg.topic = \"poor-mans-newsroom\";\nmsg.startmsg = message;\nmsg.endmsg = '\\r\\n\\r\\n';\nreturn msg","outputs":1,"noerr":0,"x":1280,"y":860,"wires":[["4406521.bac10ac"]]},{"id":"4406521.bac10ac","type":"xml","z":"c804f7f7.71acd8","name":"","property":"payload","attr":"","chr":"","x":1290,"y":780,"wires":[["7cf1d6b9.025418"]]},{"id":"4f175d1.b94dea4","type":"inject","z":"c804f7f7.71acd8","name":"Test","topic":"pmNR-start","payload":"pmNR-1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":330,"y":420,"wires":[["ea48a138.49cad"]]},{"id":"ba500b76.07e7a8","type":"xml","z":"c804f7f7.71acd8","name":"","property":"payload","attr":"","chr":"","x":330,"y":40,"wires":[["ad240eaa.285bf"]]},{"id":"bde29206.c9852","type":"debug","z":"c804f7f7.71acd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":40,"wires":[]},{"id":"cbb00198.39863","type":"switch","z":"c804f7f7.71acd8","name":"session exists?","property":"_session","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1060,"y":420,"wires":[["cdbf776c.8ecb98"]]},{"id":"ea48a138.49cad","type":"function","z":"c804f7f7.71acd8","name":"","func":"\nmsg.payload =    \n{\n    \"items\":\n    {\n        \"item\":\n        [\n            {\n                \"type\":[\"GROUP\"],\n                \"label\":[\"MAZ Beitrag Nr.1\"],\n                \"expanded\":[\"true\"],\n                \"channel\":[\"1\"],\n                \"videolayer\":[\"10\"],\n                \"delay\":[\"0\"],\n                \"duration\":[\"0:17\"],\n                \"allowgpi\":[\"false\"],\n                \"allowremotetriggering\":[\"true\"],\n                \"remotetriggerid\":[\"pmNR-2\"],\n                \"storyid\":[\"pmNR-2\"],\n                \"notes\":[\"\"],\n                \"autostep\":[\"true\"],\n                \"autoplay\":[\"false\"],\n                \"color\":[\"Transparent\"],\n                \"items\":\n                [\n                    {\n                        \"item\":\n                        [\n                            {\n                                \"type\":[\"MOVIE\"],\n                                \"devicename\":[\"Local CasparCG\"],\n                                \"label\":[\"go1080p25\"],\n                                \"name\":[\"go1080p25\"],\n                                \"channel\":[\"1\"],\n                                \"videolayer\":[\"10\"],\n                                \"delay\":[\"0\"],\n                                \"duration\":[17000],\n                                \"allowgpi\":[\"false\"],\n                                \"allowremotetriggering\":[\"false\"],\n                                \"remotetriggerid\":[\"\"],\n                                \"storyid\":[\"\"],\n                                \"transition\":[\"CUT\"],\n                                \"transitionDuration\":[\"0\"],\n                                \"tween\":[\"Linear\"],\n                                \"direction\":[\"RIGHT\"],\n                                \"seek\":[\"0\"],\n                                \"length\":[\"0\"],\n                                \"loop\":[\"false\"],\n                                \"freezeonload\":[\"false\"],\n                                \"triggeronnext\":[\"false\"],\n                                \"autoplay\":[\"false\"],\n                                \"color\":[\"Transparent\"],\n                                \"timecode\":[\"0:17\"]\n                            },\n                            {\n                                \"type\":[\"TRICASTERINPUT\"],\n                                \"devicename\":[\"Vectar\"],\n                                \"label\":[\"Cam1\"],\n                                \"name\":[\"\"],\n                                \"channel\":[\"1\"],\n                                \"videolayer\":[\"10\"],\n                                \"delay\":[\"0\"],\n                                \"duration\":[\"0\"],\n                                \"allowgpi\":[\"false\"],\n                                \"allowremotetriggering\":[\"false\"],\n                                \"remotetriggerid\":[\"\"],\n                                \"storyid\":[\"\"],\n                                \"switcher\":[\"pgm\"],\n                                \"input\":[\"input1\"],\n                                \"triggeronnext\":[\"false\"],\n                                \"color\":[\"Transparent\"]\n                            },\n                            {\n                                \"type\":[\"TEMPLATE\"],\n                                \"devicename\":[\"Local CasparCG\"],\n                                \"label\":[\"SIMPLETEMPLATE2\"],\n                                \"name\":[\"CasparCG_Flash_Templates_Example_Pack_1/SIMPLETEMPLATE2\"],\n                                \"channel\":[\"1\"],\n                                \"videolayer\":[\"20\"],\n                                \"delay\":[6000],\n                                \"duration\":[\"0\"],\n                                \"allowgpi\":[\"false\"],\n                                \"allowremotetriggering\":[\"false\"],\n                                \"remotetriggerid\":[\"\"],\n                                \"storyid\":[\"\"],\n                                \"flashlayer\":[\"1\"],\n                                \"invoke\":[\"\"],\n                                \"usestoreddata\":[\"false\"],\n                                \"useuppercasedata\":[\"false\"],\n                                \"triggeronnext\":[\"false\"],\n                                \"sendasjson\":[\"false\"],\n                                \"templatedata\":\n                                [\n                                    {\n                                        \"componentdata\":\n                                        [\n                                            {\n                                                \"id\":[\"f0\"],\n                                                \"value\":[\"Max Mustermann\"]\n                                            },\n                                            {\n                                                \"id\":[\"f1\"],\n                                                \"value\":[\"schleicht sich von hinten an\"]\n                                            }\n                                        ]\n                                    }\n                                ],\n                                \"color\":[\"Transparent\"]\n                            }\n                        ]\n                    }\n                ]\n            }\n        ]\n    }\n};\nreturn msg","outputs":1,"noerr":0,"x":450,"y":420,"wires":[["8e5c6f5f.bb62"]]},{"id":"8e5c6f5f.bb62","type":"xml","z":"c804f7f7.71acd8","name":"","property":"payload","attr":"","chr":"","x":570,"y":420,"wires":[["26667485.beab1c"]]},{"id":"26667485.beab1c","type":"function","z":"c804f7f7.71acd8","name":"","func":"var message = \"ADD\\r\\npmNR-1\\r\\n\";\nmessage = message + msg.payload;\nmessage = message + \"\\r\\n\\r\\n\";\n\nmsg.payload = message;\nmsg.topic =\"poor-mans-newsroom\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":420,"wires":[["1c466569.dc0edb"]]},{"id":"1c466569.dc0edb","type":"change","z":"c804f7f7.71acd8","name":"get session","rules":[{"t":"set","p":"_session","pt":"msg","to":"$lookup($flowContext(\"sessions\"),$eval(\"topic\"))\t","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":420,"wires":[["cbb00198.39863"]]},{"id":"46b35cf9.dfeca4","type":"link out","z":"7ff870cd.e1f68","name":"","links":["e5f3fb7e.27eb08"],"x":1255,"y":680,"wires":[]},{"id":"e5f3fb7e.27eb08","type":"link in","z":"c804f7f7.71acd8","name":"","links":["46b35cf9.dfeca4"],"x":215,"y":760,"wires":[["1d4b717c.f9c34f"]]},{"id":"1d4b717c.f9c34f","type":"function","z":"c804f7f7.71acd8","name":"move GROUP in RUNDOWN","func":"let rid = msg.ui_control.rowIndex;\nlet to = msg.ui_control.rowPos;\nlet from = to;\nlet array = flow.get('rundown').items.item;\nfor(var s=0; s<array.length-1; s++){\n    if(array[s].storyid=='pmNR-'+rid){\n        from = s;\n        break;\n    }\n}\nnode.warn('to: '+to+', from: '+from);\nif( to === from ){\n    return;\n}else{\n    var target = array[from];                         \n    var increment = to < from ? -1 : 1;\n\n    for(var k = from; k != to; k += increment){\n        array[k] = array[k + increment];\n    }\n    array[to] = target;\n    let storyid = 'pmNR-start';\n    \n    if(to>0){\n        storyid = array[to-1].storyid;\n    }\n    node.send({topic:'deleteGroup', payload:'REMOVE\\r\\n'+target.storyid+'\\r\\n\\r\\n'});\n    node.send({topic:'addGroup', payload:{\"items\":{\"item\":[target]}}, startmsg:'ADD\\r\\n'+storyid+'\\r\\n', endmsg:'\\r\\n\\r\\n'});\n    return;\n}\n","outputs":1,"noerr":0,"x":400,"y":760,"wires":[["96e326dd.20bdd8"]]},{"id":"96e326dd.20bdd8","type":"switch","z":"c804f7f7.71acd8","name":"switch del / add GROUP","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"deleteGroup","vt":"str"},{"t":"eq","v":"addGroup","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":760,"wires":[["1f1db52a.4c313b"],["d2f950a.95546b"]]},{"id":"1f1db52a.4c313b","type":"change","z":"c804f7f7.71acd8","name":"set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"poor-mans-newsroom","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":740,"wires":[["a8f4580c.ab67b8"]]},{"id":"d2f950a.95546b","type":"change","z":"c804f7f7.71acd8","name":"set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"poor-mans-newsroom","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":780,"wires":[["4406521.bac10ac"]]},{"id":"33617043.73518","type":"function","z":"c804f7f7.71acd8","name":"set OSCOUTPUT STATE","func":"let id = msg.id;\nmsg.payload = \n{\n    \"type\":[\"OSCOUTPUT\"],\n    \"devicename\":[\"\"],\n    \"label\":[\"CALLBACK state\"],\n    \"name\":[\"\"],\n    \"channel\":[\"1\"],\n    \"videolayer\":[\"10\"],\n    \"delay\":[\"0\"],\n    \"duration\":[\"0\"],\n    \"allowgpi\":[\"false\"],\n    \"allowremotetriggering\":[\"false\"],\n    \"remotetriggerid\":[\"\"],\n    \"storyid\":[\"\"],\n    \"output\":[\"Repository Control\"],\n    \"path\":[\"/poor-mans-newsroom/state\"],\n    \"message\":[id],\n    \"osctype\":[\"Integer\"],\n    \"triggeronnext\":[\"false\"],\n    \"usebundle\":[\"false\"],\n    \"color\":[\"Transparent\"]\n}\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":1280,"wires":[["872def56.d5a51"]]},{"id":"a06e173c.a16c98","type":"link in","z":"7ff870cd.e1f68","name":"","links":["38874042.6ab7f","37b8f0e2.5819c","4c7fefb2.d73d3"],"x":235,"y":120,"wires":[["53bc3e5d.48893"]]},{"id":"b7662c49.1a9f","type":"debug","z":"7ff870cd.e1f68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1170,"y":240,"wires":[]},{"id":"f5c7edc5.a9f24","type":"udp in","z":"c804f7f7.71acd8","name":"","iface":"","port":"7250","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":260,"y":1620,"wires":[["37a2baea.cf1156"]]},{"id":"37a2baea.cf1156","type":"osc","z":"c804f7f7.71acd8","name":"","path":"","metadata":false,"x":430,"y":1620,"wires":[["f0e6a265.16424","76b2e564.7689fc","4c7fefb2.d73d3"]]},{"id":"f0e6a265.16424","type":"debug","z":"c804f7f7.71acd8","name":"","active":false,"console":"false","complete":"false","x":630,"y":1520,"wires":[]},{"id":"76b2e564.7689fc","type":"debug","z":"c804f7f7.71acd8","name":"","active":false,"console":"false","complete":"raw","x":600,"y":1680,"wires":[]},{"id":"e3dc9ecb.2d595","type":"comment","z":"c804f7f7.71acd8","name":"Receiving messages on UDP port 3334","info":"","x":350,"y":1560,"wires":[]},{"id":"4c7fefb2.d73d3","type":"link out","z":"c804f7f7.71acd8","name":"","links":["a06e173c.a16c98"],"x":820,"y":1620,"wires":[]},{"id":"358df06b.ea785","type":"inject","z":"c804f7f7.71acd8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":320,"wires":[["d560c753.de3718"]]},{"id":"d560c753.de3718","type":"file in","z":"c804f7f7.71acd8","name":"","filename":"C:/rundown/ende.xml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":370,"y":320,"wires":[["2c9ac999.c282f6"]]},{"id":"2c9ac999.c282f6","type":"debug","z":"c804f7f7.71acd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":320,"wires":[]},{"id":"53bc3e5d.48893","type":"function","z":"7ff870cd.e1f68","name":"updateData","func":"\nlet statenew = msg.payload;\nlet stateold = context.get('state');\nlet args = [];\n\nif(!stateold){\n   args.push({\"id\":statenew, \"state\":true});\n}else{\n    args.push({\"id\":stateold, \"state\":false}, {\"id\":statenew, \"state\":true});\n}\n\nmsg.payload={\n    command:\"updateData\",\n    arguments: [args],\n    returnPromise: true\n}\n\ncontext.set('state', statenew);\nreturn msg;\n","outputs":1,"noerr":0,"x":450,"y":120,"wires":[["905678e2.a6cc88"]],"icon":"font-awesome/fa-eraser","info":"# clear data\n\nunfortunately this command (currently) do not send a promise back! So we have to pass it directly to the table handler"},{"id":"786a7be8.3f1d74","type":"inject","z":"7ff870cd.e1f68","name":"replace","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":180,"wires":[["53bc3e5d.48893"]]}]